* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Borel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 14px;
}

.bg-blue {
  background: #26a7a9;
}

@media( min-width: 1300px){
.container, .containerlg, .container-md, .container-sm, .container-xl{
  max-width: 1350px;
}
}
.headerWrapper .top-script {
  padding: 8px 0px;
}

.headerWrapper .top-script p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  height: 60%;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 150px; 
  height: 80px; 
  min-width: 150px; 
  padding: 0px 15px;
 
 
  
}
.headerWrapper .header .part2 .countryDrop{
  text-align: left;
justify-content: flex-start !important; color: rgb(47, 45, 45) !important; border: 1px solid rgb(0, 0, 0.2) !important ; border-radius: 5px; height: 50px; width: 170px;
}

.headerWrapper .header .part2 .countryDrop .label{ 
   font-size: 12px !important; color: rgba(0,0,0,0.4) !important;  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name{ 
  font-size: 14px !important; color: rgba(28, 26, 26, 0.6) !important; font-weight: 300 !important;  line-height: 16px;

}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;

}
.header .headerSearch{
  width: 60%; background-color: whitesmoke; height: 50%; position: relative; border-radius: 5px; border: 1px solid #7b7474e8;
}
.header .headerSearch input{width: 100%; background-color: transparent !important; outline: none; font-size: 15px; color: rgba(0,0,0,0.7); height: 70%; border: 0px !important ; padding: 15px 0px 0px 20px;}

.header .headerSearch input::-webkit-input-placeholder{color: rgba(0,0,0,0.6);}
.header .headerSearch button{position: absolute; top: 4px; right: 10px ;  z-index: 100; min-width: 40px !important; height: 40px !important; width: 40px !important; border-radius: 50% !important; color: #000;}

.header .headerSearch button svg{
   font-size: 23px;
}
.header .part3 .circle{
  min-width: 45px !important; justify-content: center; align-items: center ; height: 45px; width: 45px !important; border-radius: 50%; color: rgba(0,0,0,0.8); border: 1px solid rgba(0,0,0,0.1) !important;

}
.header .part3 .circle svg{ font-size: 22px;}
.cartTab Button{
  background-color: #fff1ee !important;
}
.cartTab Button svg{color: #ea2b0f !important;}
.cartTab .price{ font-size: 15px; color: rgba(0,0,0,0.8); font-weight: 700;}
.cartTab .count{position: absolute; top:-6px; right: -4px; background-color: #ea2b0f; border-radius: 50%; color: #fff; width: 20px; height: 20px;}

nav .allCatTab{background-color: rgba(21, 215, 215, 0.589); padding: 8px 30px !important; border-radius: 30px!important;}
nav .allCatTab *{color: #fff;}
nav .allCatTab:hover{ background: #93adb7; }
nav .allCatTab .text{ font-weight: 600;}
nav .allCatTab .icon1 svg{ font-size: 20px !important;}
nav .allCatTab .icon1 svg{ font-size: 15px !important;}
nav .navPart2 ul{ margin-bottom: 0px;}
nav .navPart2 ul li a{font-size: 16px; font-weight: 500; text-decoration: none; color: rgba(0,0,0.6); text-transform: uppercase; display:flex; align-items: center; padding: 8px 10px}
nav .navPart2 ul li a:hover{ color:  rgba(21, 215, 215, 0.589); transition: all 0.2s ease-in-out;}
nav .navPart2 ul li a:hover{background-color: #f0faff; color: #2bbef9;}